/* Reset default browser styling */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #fff; /* Putih sebagai latar belakang utama */
    color: #333;
}

/* Hero Section */
.hero {
    position: relative;
    text-align: center;
    background-color: #D32F2F; /* Merah lebih cerah */
    color: #fff;
    padding: 50px 20px;
}

.hero-image {
    width: 100%;
    height: auto;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: -1;
}

.hero-text h1 {
    font-size: 3rem;
    font-weight: bold;
}

.hero-text p {
    font-size: 1.5rem;
    margin-top: 10px;
}

.cta-button {
    display: inline-block;
    background-color: #FFEB3B; /* Kuning cerah */
    color: #333;
    padding: 15px 30px;
    font-size: 1.5rem;
    font-weight: bold;
    margin-top: 20px;
    text-decoration: none;
    border-radius: 5px;
}

.cta-button:hover {
    background-color: #FF9800; /* Kuning lebih gelap */
}

/* Countdown Timer */
#countdown-timer {
    font-size: 1.5rem;
    margin: 15px 0;
    font-weight: bold;
    color: #1976D2; /* Biru */
}

#timer {
    font-size: 2rem;
    font-weight: bold;
    color: #FFEB3B; /* Kuning cerah */
}

#days, #hours, #minutes, #seconds {
    font-size: 2rem;
    font-weight: bold;
    color: #D32F2F; /* Merah */
}

#timer span {
    margin-right: 5px;
}

/* Ticket Information */
.ticket-info {
    background-color: #f4f4f4;
    padding: 30px 20px;
    text-align: center;
}

.ticket-info h2 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    color: #1976D2; /* Biru */
}

.ticket-info p {
    font-size: 1.2rem;
}

.ticket-info ul {
    list-style-type: none;
    margin: 20px 0;
}

.ticket-info ul li {
    font-size: 1.2rem;
    color: #333;
}

/* Performers Section */
.performers {
    text-align: center;
    margin: 40px 0;
}

.performers h2 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    color: #1976D2; /* Biru */
}

.performer-logos {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.performer-logos img {
    width: 100px;
    height: auto;
}

/* Location & Contact */
.location-contact {
    background-color: #1976D2; /* Biru */
    color: #fff;
    padding: 30px 20px;
    text-align: center;
}

.location-contact h2 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    color: #FFEB3B; /* Kuning */
}

.location-contact p, .location-contact ul li {
    font-size: 1.2rem;
}

/* Footer Section */
footer {
    background-color: #01579B; /* Biru tua */
    color: #fff;
    text-align: center;
    padding: 20px;
}

.social-media a {
    color: #fff;
    margin: 0 10px;
    font-size: 1.2rem;
    text-decoration: none;
}

.social-media a:hover {
    color: #FFEB3B; /* Kuning */
}
